*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(45,98,253,0.8688725490196079) 100%);
}
.badge{
    height: 80px;
    width: 80px;
    font-family: "Montserrat", Sans-serif;
    font-size: 8px;
    font-weight: 900;
    background-color: #DA9A29 !important;
    border-radius: 100px;
    position: absolute;
    top: 83%;
    left: 30px;
    top: 220px;
}
.card-body{
    margin-top: 40px;
}
h5{
    font-weight: 700;
}
.badge h5  {
    font-size: 15px;
    margin-top: 20px !important;
}
.card-title:hover{
   color: #DA9A29 !important;
    cursor: pointer !important;
}
@media only screen and (max-width: 600px) {
    .badge   {
        top: 180px !important;
    }
  }
  
